<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        integrity="sha512-P5mCn/lfy2+JIX4ebVqGfi0/6syBF5IqEXYlrHBD/rRi8i/H/FfPU+D/EbGCQ7iLunbq8nlMGG6P9iGN5/6J4g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>feelona</title>
</head>

<body class="font-myfont">
    <div class="py-1">
        <div class="container mx-auto flex justify-between items-center">
            <div class="text-white font-bold text-lg">Your Logo</div>

            <div class="flex space-x-4 items-center">
                <a href="/signup">
                    <button class="font-bold py-2 px-4">
                        Sign Up
                    </button>
                </a>
                <a href="/login">
                    <button class="font-bold py-2 px-4">
                        Login
                    </button>
                </a>
                <a href="/logout">
                    <button class="font-bold py-2 px-4">
                        Logout
                    </button>
                </a>
                <div class="text-white">
                    <img src="{{ url_for('static', filename='iconss/user.svg') }}"  class="size-6" alt="">
                </div>
            </div>
        </div>
    </div>

    <nav class="container mx-auto p-6">
        <div class="flex justify-between">
            <!--  -->
            <div class="py-2">
                <img src="{{ url_for('static', filename='iconss/logo.svg') }}" alt="">
            </div>
            <!--  -->
            <div class="lg:flex space-x-8 hidden">

                <div class="flex items-center">
                    <input type="text" placeholder="Search..."
                        class="border w-96 p-2 rounded-l focus:outline-none focus:border-blue-500">
                    <button class="bg-blue-500 text-white p-2.5 rounded-r">Search</button>
                </div>



                <!--  -->

                <div class="text-center relative">
                    <a class="flex justify-center" href="#">
                        <img class="size-9" src="{{ url_for('static', filename='iconss/favorite.svg') }}" alt="">
                        <span class="absolute top-0 right-0 bg-red-500 text-white px-1 rounded-full text-[9px]">7</span>
                    </a>
                    <div class="text-sm">Wishlist</div>
                </div>
                <!--  -->
                <div class="text-center relative">
                    <a class="flex justify-center" href="#" id="cart-icon">
                        <img class="size-9" src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}"  alt="">
                        <span id="cart-badge"
                            class="absolute top-0 right-0 bg-red-500 text-white px-1 rounded-full text-[9px]">7</span>
                    </a>
                    <div id="cart-box"
                        class="hidden absolute w-96 h-96 top-12 right-0 bg-white border border-gray-300 p-4 rounded shadow-md z-50">
                        <!-- Your cart items go here -->
                        <p class="text-left">Your Cart:</p>
                        <div class="flex justify-between items-center border-b mt-2">
                            <div class="flex space-x-7"> 
                                 <div><img src="{{ url_for('static', filename='img/bag1.png') }}" class="w-14" alt=""></div>
                            <div class="text-left">
                                <p>Trifold Wallet Black</p>
                                <p><span id="cart_quantity" class="text-sm text-gray-400">1x</span><span id="cart_total">900</span></p>

                            </div>
                        </div>
                          
                            <button>
                                <img src="{{ url_for('static', filename='iconss/cancel.svg') }}" class="w-5" alt="">
                            </button>
                        </div>
                        <!-- Add your cart item details dynamically here -->
                    </div>
                    <div class="text-sm">Cart</div>
                </div>


                <!--  -->

            </div>

            <div class="size-9 block lg:hidden">
                <a href="#"><img src="{{ url_for('static', filename='iconss/menu.svg') }}" alt=""></a>
            </div>

        </div>
    </nav>
    <nav class="bg-gray-800 p-4 sticky top-0 z-40">
        <div class="container mx-auto flex items-center justify-center">
            <a href="#" class="text-white mr-6">Home</a>
            <a href="#" class="text-white mr-6">All Categories</a>
            <a href="#" class="text-white mr-6">Flash Sale</a>
            <a href="#" class="text-white">Track Order</a>
        </div>
    </nav>

    <!-- section 1 -->
    <section class="relative p-10">
        <div class="container mx-auto  p-8 overflow-hidden rounded-md">
            <div class="flex justify-between py-4">
                <!--  -->
                <h1 class="text-3xl font-bold">Best Selling</h1>
                <div class="text-center">
                    <a href="/best-selling"
                        class="bg-gray-800 text-white py-2 px-4 rounded-md inline-block hover:bg-gray-600 transition duration-">View
                        All</a>
                </div>

            </div>
            <!-- <div class=""> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Product Box 1 -->
                    <div class="swiper-slide relative bg-white rounded-lg shadow-md group">
                        <!-- Product Image -->
                        <img src="{{ url_for('static', filename='img/bag1.png') }}" alt="Product 1" class="w-full object-cover rounded-md">

                        <!-- Product Content -->
                        <div class="p-4">
                            <h3 class="text-lg font-semibold mb-2">Product 1</h3>
                            <p class="text-gray-600 mb-2">$19.99</p>
                            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <!-- Options that appear on hover -->
                        <div
                            class="opacity-0 group-hover:opacity-100 transition duration-300 absolute top-0 right-0 space-x-2 p-4">
                            <!-- Cart icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110 opacity">
                                <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}" data-popup-id="productPopup1"
                                    class="size-6 showPopupButton" id="cart" alt="">
                            </button>

                            <!-- Favorite icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110">
                                <img src="{{ url_for('static', filename='iconss/favorite.svg') }}" class="size-6" alt="">
                            </button>
                        </div>
                    </div>



                </div>
                <!-- Add Navigation -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <!-- </div> -->
        </div>


    </section>




    <!-- section 2 -->
    <section class="relative p-10">
        <div class="container mx-auto  p-8 overflow-hidden rounded-md">
            <div class="flex justify-between py-4">
                <!--  -->
                <h1 class="text-3xl font-bold">Best Selling</h1>
                <div class="text-center">
                    <a href="/view-all"
                        class="bg-gray-800 text-white py-2 px-4 rounded-md inline-block hover:bg-gray-600 transition duration-">View
                        All</a>
                </div>

            </div>
            <!-- <div class=""> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Product Box 1 -->
                    <div class="swiper-slide relative bg-white rounded-lg shadow-md group">
                        <!-- Product Image -->
                        <img src="{{ url_for('static', filename='img/bag1.png') }}" alt="Product 1" class="w-full object-cover rounded-md">

                        <!-- Product Content -->
                        <div class="p-4">
                            <h3 class="text-lg font-semibold mb-2">Product 1</h3>
                            <p class="text-gray-600 mb-2">$19.99</p>
                            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <!-- Options that appear on hover -->
                        <div
                            class="opacity-0 group-hover:opacity-100 transition duration-300 absolute top-0 right-0 space-x-2 p-4">
                            <!-- Cart icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110 opacity">
                                <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}" class="size-6" alt="">
                            </button>

                            <!-- Favorite icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110">
                                <img src="{{ url_for('static', filename='iconss/favorite.svg') }}" class="size-6" alt="">
                            </button>
                        </div>
                    </div>




                </div>
                <!-- Add Navigation -->
                <div>
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev "></div>
                </div>

            </div>
            <!-- </div> -->
        </div>


    </section>





    <!-- section 3 -->
    <section class="relative p-10">
        <div class="container mx-auto  p-8 overflow-hidden rounded-md">
            <div class="flex justify-between py-4">
                <!--  -->
                <h1 class="text-3xl font-bold">Best Selling</h1>
                <div class="text-center">
                    <a href="/view-all"
                        class="bg-gray-800 text-white py-2 px-4 rounded-md inline-block hover:bg-gray-600 transition duration-">View
                        All</a>
                </div>

            </div>
            <!-- <div class=""> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Product Box 1 -->
                    <div class="swiper-slide relative bg-white rounded-lg shadow-md group">
                        <!-- Product Image -->
                        <img src="{{ url_for('static', filename='img/bag1.png') }}" alt="Product 1" class="w-full object-cover rounded-md">

                        <!-- Product Content -->
                        <div class="p-4">
                            <h3 class="text-lg font-semibold mb-2">Product 1</h3>
                            <p class="text-gray-600 mb-2">$19.99</p>
                            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <!-- Options that appear on hover -->
                        <div
                            class="opacity-0 group-hover:opacity-100 transition duration-300 absolute top-0 right-0 space-x-2 p-4">
                            <!-- Cart icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110 opacity">
                                <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}" class="size-6" alt="">
                            </button>

                            <!-- Favorite icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110">
                                <img src="{{ url_for('static', filename='iconss/favorite.svg') }}" class="size-6" alt="">
                            </button>
                        </div>
                    </div>



                </div>
                <!-- Add Navigation -->
                <div>
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev "></div>
                </div>

            </div>
            <!-- </div> -->
        </div>


    </section>




    <!-- section 4 -->
    <section class="relative p-10">
        <div class="container mx-auto  p-8 overflow-hidden rounded-md">
            <div class="flex justify-between py-4">
                <!--  -->
                <h1 class="text-3xl font-bold">Best Selling</h1>
                <div class="text-center">
                    <a href="/view-all"
                        class="bg-gray-800 text-white py-2 px-4 rounded-md inline-block hover:bg-gray-600 transition duration-">View
                        All</a>
                </div>

            </div>
            <!-- <div class=""> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Product Box 1 -->
                    <div class="swiper-slide relative bg-white rounded-lg shadow-md group">
                        <!-- Product Image -->
                        <img src="{{ url_for('static', filename='img/bag1.png') }}" alt="Product 1" class="w-full object-cover rounded-md">

                        <!-- Product Content -->
                        <div class="p-4">
                            <h3 class="text-lg font-semibold mb-2">Product 1</h3>
                            <p class="text-gray-600 mb-2">$19.99</p>
                            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <!-- Options that appear on hover -->
                        <div
                            class="opacity-0 group-hover:opacity-100 transition duration-300 absolute top-0 right-0 space-x-2 p-4">
                            <!-- Cart icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110 opacity">
                                <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}" class="size-6" alt="">
                            </button>

                            <!-- Favorite icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110">
                                <img src="{{ url_for('static', filename='iconss/favorite.svg') }}" class="size-6" alt="">
                            </button>
                        </div>
                    </div>





                </div>
                <!-- Add Navigation -->
                <div>
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev "></div>
                </div>

            </div>
            <!-- </div> -->
        </div>


    </section>


    <!-- section 5 -->
    <section class="relative p-10">
        <div class="container mx-auto  p-8 overflow-hidden rounded-md">
            <div class="flex justify-between py-4">
                <!--  -->
                <h1 class="text-3xl font-bold">Best Selling</h1>
                <div class="text-center">
                    <a href="/view-all"
                        class="bg-gray-800 text-white py-2 px-4 rounded-md inline-block hover:bg-gray-600 transition duration-">View
                        All</a>
                </div>

            </div>
            <!-- <div class=""> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Product Box 1 -->
                    <div class="swiper-slide relative bg-white rounded-lg shadow-md group">
                        <!-- Product Image -->
                        <img src="{{ url_for('static', filename='img/bag1.png') }}" alt="Product 1" class="w-full object-cover rounded-md">

                        <!-- Product Content -->
                        <div class="p-4">
                            <h3 class="text-lg font-semibold mb-2">Product 1</h3>
                            <p class="text-gray-600 mb-2">$19.99</p>
                            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <!-- Options that appear on hover -->
                        <div
                            class="opacity-0 group-hover:opacity-100 transition duration-300 absolute top-0 right-0 space-x-2 p-4">
                            <!-- Cart icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110 opacity">
                                <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}" class="size-6" alt="">
                            </button>

                            <!-- Favorite icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110">
                                <img src="{{ url_for('static', filename='iconss/favorite.svg') }}" class="size-6" alt="">
                            </button>
                        </div>
                    </div>




                </div>
                <!-- Add Navigation -->
                <div>
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev "></div>
                </div>

            </div>
            <!-- </div> -->
        </div>


    </section>




    <!-- section 6 -->
    <section class="relative p-10">
        <div class="container mx-auto  p-8 overflow-hidden rounded-md">
            <div class="flex justify-between py-4">
                <!--  -->
                <h1 class="text-3xl font-bold">Best Selling</h1>
                <div class="text-center">
                    <a href="/view-all"
                        class="bg-gray-800 text-white py-2 px-4 rounded-md inline-block hover:bg-gray-600 transition duration-">View
                        All</a>
                </div>

            </div>
            <!-- <div class=""> -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Product Box 1 -->
                    <div class="swiper-slide relative bg-white rounded-lg shadow-md group">
                        <!-- Product Image -->
                        <img src="{{ url_for('static', filename='img/bag1.png') }}" alt="Product 1" class="w-full object-cover rounded-md">

                        <!-- Product Content -->
                        <div class="p-4">
                            <h3 class="text-lg font-semibold mb-2">Product 1</h3>
                            <p class="text-gray-600 mb-2">$19.99</p>
                            <p class="text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>

                        <!-- Options that appear on hover -->
                        <div
                            class="opacity-0 group-hover:opacity-100 transition duration-300 absolute top-0 right-0 space-x-2 p-4">
                            <!-- Cart icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110 opacity">
                                <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}" class="size-6" alt="">
                            </button>

                            <!-- Favorite icon -->
                            <button
                                class="bg-white rounded-full p-1.5 transition-transform duration-300 ease-in-out transform hover:scale-110">
                                <img src="{{ url_for('static', filename='iconss/favorite.svg') }}" class="size-6" alt="">
                            </button>
                        </div>
                    </div>



                </div>
                <!-- Add Navigation -->
                <div>
                    <div class="swiper-button-next "></div>
                    <div class="swiper-button-prev "></div>
                </div>

            </div>
            <!-- </div> -->
        </div>


    </section>



    <!-- Popup -->
    <div id="productPopup1"
        class="fixed inset-0 flex hidden justify-center items-center common bg-black bg-opacity-50  z-50">
        <div class="flex flex-col p-4 space-y-4 lg:flex-row lg:space-y-0 lg:space-x-4 lg:p-7 bg-white rounded-lg">

            <!-- <div class="flex p-9 space-x-4"> -->

            <!-- Your popup content goes here -->
            <div class="flex space-x-3 lg:space-x-0 lg:space-y-1 lg:block">
                <img src="{{ url_for('static', filename='img/bag1.png') }}" class="w-24" alt="">
                <img src="{{ url_for('static', filename='img/bag1.png') }}" class="w-24" alt="">
                <img src="{{ url_for('static', filename='img/bag1.png') }}" class="w-24" alt="">
                <img src="{{ url_for('static', filename='img/bag1.png') }}" class="w-24" alt="">
            </div>
            <div>
                <img src="{{ url_for('static', filename='img/bag1.png') }}" class="w-56 lg:w-96" alt="">
            </div>
            <div class="space-y-1 lg:space-y-5">
                <h3 class="text-xl font-bold">Classic Trifold Wallet Black</h3>
                <!--  -->
                <div class="flex items-center space-x-4">
                    <div>Price:</div>
                    <h3 class="text-3xl">900Tk <span class="text-sm">/Unit</span></h3>
                </div>
                <hr>
                <!--  -->
                <div class="flex items-center space-x-4">
                    <div>Quantity:</div>
                
                    <button id="decrementBtn" class="text-2xl bg-gray-100 rounded-full px-[10px]" onclick="changeQuantity(-1)">-</button>
                    <span id="quantity" class="text-xl">1</span>
                    <button id="incrementBtn" class="text-2xl bg-gray-100 rounded-full px-[10px]" onclick="changeQuantity(1)">+</button>
                    <span class="text-sm">(24 available)</span>
                </div>
                <hr>
                <!--  -->
                <div class="flex items-center space-x-4">
                    <div>Total Price:</div>
                    <div id="totalPrice" class="text-2xl">900tk</div>
                </div>
                <!--  -->
                <div class="flex space-x-5">
                    <button
                        class="bg-gray-800 max-w-32 hover:bg-gray-600 text-white py-2.5 px-3 rounded flex items-center">
                        <img src="{{ url_for('static', filename='iconss/add_shopping_cart.svg') }}"class="size-5" alt="">
                          Add to Cart
                    </button>
                    <button
                        class="bg-gray-800 w-32 justify-center hover:bg-gray-600 text-white py-2.5 px-3 rounded flex items-center">
                        Buy
                    </button>
                </div>
            </div>

            <!-- Close button -->
            <button class="self-start" id="hidePopupButton1" onclick="hidePopup()">
                <img src="{{ url_for('static', filename='iconss/cancel.svg') }}" class="size-7" alt="">
            </button>

            <!-- </div> -->

        </div>
    </div>














    <footer class="bg-gray-200 text-black py-8">
        <div class="container mx-auto flex space-x-7 justify-between">
            <div class="w-full md:w-1/2 lg:w-1/3 mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-4">Elano</h3>
                <p class="text-sm">A web-based retailer of genuine leather goods and fashion accessories, Elano offers
                    online shopping options with an exceptional selection of both. We provide excellent leather products
                    and a pleasant shopping experience. Experience excellent purchasing easily and with just one click.
                </p>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 mb-4 md:mb-0">
                <h3 class="text-xl font-bold mb-4 border-b border-black">CONTACT INFO</h3>
                <p class="text-sm">Address:<br>House 264 Avenue 3 Road 3 Mirpur D.O.H.S 1216 Mirpur, Dhaka Division,
                    Bangladesh</p>
                <p class="text-sm">Phone:<br>01878-104656</p>
                <p class="text-sm">Email:<br>storeelano@gmail.com</p>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3">
                <h3 class="text-xl font-bold mb-4 border-b border-black">COMPANY</h3>
                <ul class="list-none">
                    <li><a href="#" class="text-sm hover:text-gray-400">About us</a></li>
                    <li><a href="#" class="text-sm hover:text-gray-400">Contact us</a></li>
                </ul>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3">
                <h3 class="text-xl font-bold mb-4 border-b border-black">MY ACCOUNT</h3>
                <ul class="list-none">
                    <li><a href="#" class="text-sm hover:text-gray-400">Login</a></li>
                    <li><a href="#" class="text-sm hover:text-gray-400">Order History</a></li>
                    <li><a href="#" class="text-sm hover:text-gray-400">My Wishlist</a></li>
                    <li><a href="#" class="text-sm hover:text-gray-400">Track Order</a></li>
                </ul>
            </div>
            <!-- social media links -->

        </div>
        <div class="container mx-auto flex  justify-between w-full mt-4">
            <p class="text-sm">&copy; 2024 Elano. All rights reserved.</p>
            <div class="flex space-x-4">
                <a href="#" class="text-sm hover:text-gray-400"><i class="fab fa-facebook fa-2x text-blue-700"></i></a>
                <a href="#" class="text-sm hover:text-gray-400"><i class="fab fa-twitter fa-2x text-sky-500"></i></a>
                <a href="#" class="text-sm hover:text-gray-400"><i
                        class="fab fa-instagram fa-2x text-orange-500"></i></a>
                <!-- Add more social media icons as needed -->
            </div>
        </div>

    </footer>










    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>






</body>

</html>